:root {
  --b: #000;
  --w: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --b: #fff;
    --w: #000;
  }
}

body {
  color: var(--b);
  background-color: var(--w);
  font-family: 'Ubuntu Mono', monospace;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

main { margin: 4rem 2rem; }
a, a:visited { color: var(--b); }
img { width: 100%; }
.not-found, .bad-mime-type { margin-bottom: 2rem; }
.logo pre {
  display: flex;
  justify-content: center;
  text-align: left;
}

/* Drag and Drop */
.drop-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border: 3px dashed #e1e1e1;
}
.drop-area.dragover { 
  color: lightblue;
  border-color: lightgray; 
  
}
.file-upload-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.file-input-label {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.options {
    margin-top: 1rem;
    text-align: center;
}

/* Copy to clipboard */
.copy-to-clipboard {
  display: flex;
  margin: 2rem 0;
  border: 1px solid var(--b);
}
.copy-to-clipboard input[type=text] {
  flex: 50%;
  width: 100%;
  padding: 12px 20px;
  border: none;
  outline: none;
  background-color: var(--w);
  color: var(--b);
}
.copy-to-clipboard button {
  padding: 12px 20px;
  margin: 0;
  min-width: 120px;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: var(--b);
  color: var(--w);
}

/* cURL command */
.curl pre {
  text-align: left;
  padding: 12px 20px;
  font-size: 14px;
  background: var(--b);
  color: var(--w);
  overflow-x: auto;
}

/* SVG  */
svg {
  color: var(--b);
}
svg path {
  stroke: currentcolor;
}
